<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<nav>
    <a th:href="@{breakfast}">breakfast</a>
    <a th:href="@{bron}">bron</a>
    <a th:href="@{clients}">clients</a>
    <a th:href="@{employee}">employee</a>
    <a th:href="@{number}">number</a>
    <a th:href="@{numbercategoy}">numbercategoy</a>
    <a th:href="@{numbersos}">numbersos</a>
    <a th:href="@{post}">post</a>
    <div class="animation start-home"></div>
</nav>

<table class="container">
    <thead>
    <tr>
        <th><h1>id</h1></th>
        <th><h1>post</h1></th>
    </tr>
    </thead>
    <tbody>
    <form  th:action="@{post/new}" method="post">
        <tr>
            <td>-1</td>
            <td><input type="text" name="post"></td>
            <td><button type="submit">Добавить</button></form></td>
    <td></td>
    </tr>
    </form>
    <tr th:each="post :${post}">
        <td th:text="${post.idPost}"></td>
        <td><form th:action="@{post/update}" method="post"><input type="text" name="post" th:value="${post.post}"></form></td>
        <td><button type="submit" name="idPost" th:value="${bron.id}">Изменить</button></form></td>
        <td><form th:action="@{post/delete}" method="post"><button type="submit" name="idPost" th:value="${post.idPost}" th:if="${post.idPost!=0}">Удалить</button></form></td>
    </tr>
    </tbody>
</table>
</body>
</html>